/*  your css code here. If applicable */
table{
	border:1px solid black;
	width:100%
}
th, td {
  padding: 1px;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.last{
	background:red;
	height:20px;
}
.first{
	background:green;
	height:20px;
}
